[{:block/name "waiting",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#specializes",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "https://privatealpha.com/ontology/ibis/1#opposes",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "a",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "ibis:position",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "dct:references",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "http://www.w3.org/2004/02/skos/core#related",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "skos",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "favorites",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "https://privatealpha.com/ontology/ibis/1#response",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "ibis:opposed-by",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "positions",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "ibis",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#questioned-by",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:argument",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:suggests",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#questions",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "http://www.w3.org/2004/02/skos/core#broader",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "https://privatealpha.com/ontology/ibis/1#opposed-by",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "issues",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "ibis:supports",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "card",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "skos:related",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:generalizes",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "https://privatealpha.com/ontology/ibis/1#responds-to",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "ibis:questions",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:questioned-by",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#argument",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "https://privatealpha.com/ontology/ibis/1#suggested-by",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "done",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "arguments",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "rdf",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "now",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "ibis:suggested-by",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "xlink",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "skos:broader",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "skos:narrower",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "https://privatealpha.com/ontology/ibis/1#",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:specializes",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "contents",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#suggests",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#supported-by",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "c",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "ibis:issue",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#position",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "later",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "in-progress",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "xsd",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:response",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "http://www.w3.org/2001/xmlschema#",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#generalizes",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "dct",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "ibis:responds-to",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "ibis:supported-by",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "dct:isreferencedby",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "dec 17th, 2021",
  :block/created-at 1639699200000,
  :block/updated-at 1639699200000}
 {:block/name "http://www.w3.org/2004/02/skos/core#",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "ibis:opposes",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "https://privatealpha.com/ontology/ibis/1#supports",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "wait",
  :block/created-at 1639741472923,
  :block/updated-at 1639741472923}
 {:block/name "b",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "http://www.w3.org/2004/02/skos/core#narrower",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "skos:concept",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "doing",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "http://www.w3.org/2004/02/skos/core#concept",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "concepts",
  :block/created-at 1639741472924,
  :block/updated-at 1639741472924}
 {:block/name "todo",
  :block/created-at 1639741472925,
  :block/updated-at 1639741472925}
 {:block/name "https://privatealpha.com/ontology/ibis/1#issue",
  :block/created-at 1639741472924, 
  :block/updated-at 1639741472924}]
